@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --toastify-color-success: #000000;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.hero-text{
    font-size: 5rem;
    line-height: 6.5rem;
    text-align: start;
}
.react-toastify__progress-bar--success::before {
    background-color: black !important;
  }
.black{
    background-color: black;
}